/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Own styles */

*{
	box-sizing: border-box;
}
body{
    line-height: 1.5;
	font-size:18px;
}
.container{
	max-width:1100px;
	margin:0 auto;
	padding:0 32px;
}
.flex{
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.padding{
	padding:50px 32px
}
/* HEADER */
.header{
	background-color:rgb(27, 27, 48);
	padding:20px 0;
}
.nav a {
	margin-left: 15px;
	color:white;
	text-decoration:none;
	font-size:20px;
}

/* Main */

.aside{
	background-color:rgb(128, 180, 248);
	padding:20px;
	border-radius:12px;
	flex: 0 1 30%;
	align-self: stretch;
	display:flex;
	flex-direction: column;
	justify-content:space-between;
}
.aside .nav a {
	color:black;
	margin-bottom:40px;
}
.aside .flex {
	flex-direction:column;
	align-items: flex-start;
	
}
.aside .nav a i {
	margin-right:20px;
	vertical-align: middle;
}

.btn{
	width:100%;
	padding:10px;
	border-radius:5px;
	border:0;
	text-align: start;
	font-size:20px;
	font-weight: bold;;
}
.btn i {
	margin-right:20px;
}
/* ARTICLE  */
.article{
	flex:0 1 65%;
	background-color: rgb(214, 226, 243);
	padding:30px;
	border-radius:12px;
}
h1{
	font-size:50px;
	font-weight: bolder;
	margin:20px 0;
	color:rgb(27, 27, 48)
}
p{
  color: rgb(47, 47, 82); 
  margin : 0 0 10px 0; 
}
.article img {
	border-radius: 5px;;
}
.readmore{
	display:inline-block;
	text-decoration: none;
	color:white;
	padding:10px 30px ;
	background-color: rgb(67, 238, 62);
	border-radius: 10px;
	margin-top:20px;
	font-size: 20px;
	font-weight: 900;
	box-shadow:5px 5px 10px  black	
}

/* FOOTER  */

.footer{
	background-color:rgb(27, 27, 48);
	padding:20px 0;
}
.footer-nav a {
	color:white;
	text-decoration: none;
	font-size:20px;
	margin-left:20px;
}
small{
    color:white;
	font-size:20px;
}